/*Navegacion*/

.social {
  margin-right: 170px;
}
.fab {
  cursor: pointer;
}

.fab:hover {
  color: rgb(185, 184, 184);
  transition: all 0.5s;
}

.hover-link:hover {
  color: rgb(185, 184, 184);
  transition: all 0.5s;
}
.hover-link:hover::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: white;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu--item {
  padding: 25px 0;
  text-align: center;
}

.navegacion {
  z-index: 9999;
  flex-grow: 1;
}

.text-red {
  color: rgb(221, 18, 18) !important;
}
/*botones*/
.btn:focus {
  box-shadow: none;
}
/*Pagina1*/
.pagina {
  min-height: 100vh;
}
.foco-idea {
  overflow: hidden;
}
.foco-idea img {
  width: 90px;
}
@media screen and (min-width: 768px) {
  /*Pagina 1*/
  .presentacion {
    position: relative;
    left: 60px;
  }

  .presentacion > h1 {
    font-size: 8.5vw;
  }
  .foco-idea img {
    width: 30%;
  }
  .text-portafolio {
    font-size: 3.5vw;
  }

  .rayas-escritorio img {
    width: 40px;
  }

  .rayas-escritorio {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.text-portafolio {
  top: 30%;
  right: 50%;
  z-index: 99;
}

/*Pricipal*/
.lineas::after {
  content: "";
  display: block;
  height: 3px;
  background: #ff4d5a;
  width: 50px;
  border-radius: 50px;
  margin-left: 25px;
  margin-top: 20px;
}
.lineas::before {
  content: "";
  display: block;
  height: 3px;
  background: #ff4d5a;
  width: 50px;
  border-radius: 50px;
}

.rayas {
  margin: auto;
  width: 150px;
  position: relative;
  bottom: 20px;
}

/*Pagina 2*/
.text-numero {
  font-size: 100px;
  right: 20px;
  bottom: -58px;
  z-index: 99;
}

.lineas-azules::after {
  content: "";
  display: block;
  height: 3px;
  background: #0a294e;
  width: 40px;
  border-radius: 50px;
  margin-left: 25px;
  margin-top: 20px;
}
.lineas-azules::before {
  content: "";
  display: block;
  height: 3px;
  background: #0a294e;
  width: 40px;
  border-radius: 50px;
  justify-content: space-between;
}
.banner img {
  object-fit: cover;
  height: 300px;
  object-position: end;
}
.subir-next {
  font-size: 12px;
}
@media (min-width: 576px) {
  .subir-next {
    font-size: 16px;
  }
}

/*Pagina 3*/
.img-brawl {
  max-width: 60%;
}

/*Paginas proyectos ramdos*/
.p_concepto {
  height: 300px;
}

/*Pagina 4*/
.form-control {
  border: 2px solid #ff4d5a;
  border-radius: 30px;
  background: rgba(141, 141, 141, 0.24);
}
textarea {
  border: 2px solid #ff4d5a;
  border-radius: 10px;
  background: rgba(141, 141, 141, 0.24);
  width: 100%;
  min-height: 150px;
}
textarea:focus {
  outline: none;
}

.wassap {
  width: 60px;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .wassap {
    bottom: 50px;
  }
}
.wassap > img {
  width: 60px;
}
/*Footer*/
footer {
  background: linear-gradient(90deg, #ff4d5a 0.86%, #08213f 101.87%);
}

/*Pagina gracias*/
.mascota {
  position: relative;
  top: 20px;
}
